
.mythoughts {
    display: flex;
    justify-content: center;
    font-family: "Homemade Apple";
    color:#03a9f4;
    font-size: 50px;
    margin-top: 0px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.buttonstyle {
    background-color: #03a9f4 ;
    color: white;
    border-radius: 5px;
    width: 500px;
    height: 50px;
}

.closebutton{
    display: flex;
    justify-content: flex-end;
}

h2 {
    display: flex;
    justify-content: center;
}

input {
    margin-left: 10px;
}

textarea {
    margin-left: 10px;
}

.inputs-style {
    display: flex;
    justify-content: center;
}

.ThoughtForm {
    margin-top: 10px;
    background-color: #79c5e8 ;
    border: 1px solid black;
}

input{
    display: flex;
    align-items: flex-start;
}

textarea {
    display: flex;
    align-items: flex-end;
}